/*
I want all the themes to be customizable, definitely helps me engage more and change the aesthetic as well as just following along my changing wallpapers every month and creating consistency and these habits I'd like to build
*/

/*main vars i'll be changing that make changing themes obv and easy*/
:root {
  --bg-color: #fff4f8;
  --accent-color: #ffb3c1;
  --text-color: #4b4a48;
  --header-color: #ff7f9c;
  --card-bg: #ffffff;
  --card-bg: #ffffff;
  --font-primary: 'Quicksand', sans-serif;
}

/* Applything this theme to everyhting from the root so I don't have to directly go in everythign and change it and instead just change 1nce! */
body {
  font-family: var(--font-primary);
  max-width: 760px;
  margin: 2em auto;
  padding: 2em;
  background-color: var(--bg-color);
  color: var(--text-color);
  padding: 2em ;
  border-radius: 12px;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.1) ;
  transition: all 0.2s ease;
}


/* Header Styles! */
header, footer {
  text-align: center;
  margin-bottom: 2em;
  color: var(--header-color);
}


/* TITLE */
h1 {
  font-size: 2.5em;
  margin-bottom: 0.2em;
}


/* SECTIONS */
section {
  font-size: 2.5em;
  margin-bottom: 2em;
}
section h2 {
  font-size: 1.6em;
  color: var(--header-color);
  margin-bottom: 0.4em;
}
section p,
section ul {
  font-size: 1em;
  line-height: 1.6;
}
section ul {
  list-style: none;
  padding-left: 0;
}
section ul li {
  margin-bottom: 0.5em;
}


/* LINKS */
a {
  color: var(--accent-color);
  text-decoration: none;
  font-weight: 600;
}

a:hover {
  text-decoration: underline;
}



/* FOOTER */
footer {
  text-align: center;
  margin-top: 3em;
  font-size: 0.9em;
  color: #aa7e88;
}
.project-card {
  background: #ffffff;
  padding: 1em 1.5em;
  margin: 1em 0;
  border: 2px dashed var(--accent-color);
  border-radius: 12px;
  box-shadow: 0 2px 5px rgba(255, 179, 193, 0.2);
  transition: transform 0.2s ease;
}
.project-card:hover {
  transform: scale(1.02);
}
.project-card h3 {
  margin-top: 0;
  color: var(--accent-color);
}
